datasets==2.19.0
timm==0.6.13
nvidia-cuda-nvrtc-cu12==12.1.105
peft==0.5.0
aiohttp==3.12.13
markdown-it-py==3.0.0
multiprocess==0.70.16
msgpack==1.1.1
validators==0.35.0
tomlkit==0.12.0
sentencepiece==0.1.99
nvidia-nvtx-cu11==11.8.86
jsonschema==4.23.0
markdown2==2.5.3
nvidia-nccl-cu12==2.18.1
ultralytics-thop==2.0.14
pip==25.0
pydantic_core==2.33.1
regex==2024.11.6
pyparsing==3.2.3
shortuuid==1.0.13
ffmpy==0.5.0
networkx==3.4.2
exceptiongroup==1.2.2
nvidia-cuda-runtime-cu11==11.8.89
dill==0.3.8
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.21.5
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cublas-cu12==12.1.3.1
torchvision==0.21.0+cu118
ultralytics==8.3.109
httpx==0.24.0
GitPython==3.1.44
nvidia-nvtx-cu12==12.1.105
rpds-py==0.24.0
nvidia-ml-py==12.570.86
rich==14.0.0
requests==2.32.3
wheel==0.45.1
wandb==0.19.9
semantic-version==2.10.0
click==8.1.8
nvidia-cusparse-cu12==12.1.0.106
aiofiles==23.2.1
narwhals==1.35.0
pydantic==2.11.3
latex2mathml==3.77.0
matplotlib==3.10.1
Jinja2==3.1.6
nvidia-cufft-cu12==11.0.2.54
filelock==3.18.0
nvidia-cudnn-cu11==9.1.0.70
mdurl==0.1.2
altair==5.5.0
PyYAML==6.0.2
nvidia-cuda-cupti-cu11==11.8.87
python-multipart==0.0.20
deepspeed==0.16.4
nvidia-cuda-cupti-cu12==12.1.105
platformdirs==4.3.7
mpi4py==4.1.0
nvidia-cublas-cu11==11.11.3.6
torch==2.6.0+cu118
nvidia-nvjitlink-cu12==12.8.93
pytz==2025.2
qwen-vl-utils==0.0.11
nvidia-curand-cu12==10.3.2.106
cycler==0.12.1
sentry-sdk==2.26.1
protobuf==5.29.4
TorchCodec==0.2.0
tqdm==4.67.1
pynvml==12.0.0
typing_extensions==4.13.2
uvicorn==0.34.1
xxhash==3.5.0
pyarrow==20.0.0
nvidia-cudnn-cu12==8.9.2.26
sympy==1.13.1
opencv-python==4.11.0.86
tokenizers==0.21.2
ninja==1.11.1.4
six==1.17.0
psutil==7.0.0
triton==3.2.0
flash-attn==2.7.3
typing-inspection==0.4.0
safetensors==0.5.3
pillow==10.4.0
accelerate==1.4.0
python-dateutil==2.9.0.post0
ruff==0.11.5
urllib3==2.4.0
nvidia-curand-cu11==10.3.0.86
fonttools==4.57.0
wavedrom==2.0.3.post3
seaborn==0.13.2
huggingface-hub==0.30.2
gitdb==4.0.12
transformers==4.50.0
llava==1.2.2.post1
openpyxl==3.1.5
smmap==5.0.2
kiwisolver==1.4.8
MarkupSafe==2.1.5
starlette==0.46.2
propcache==0.3.2
mpmath==1.3.0
fastapi==0.115.12
jsonschema-specifications==2024.10.1
hjson==3.1.0
attrs==25.3.0
gradio==4.16.0
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cufft-cu11==10.9.0.58
aiohappyeyeballs==2.6.1
anyio==4.9.0
certifi==2025.6.15
setuptools==75.8.0
scipy==1.15.2
annotated-types==0.7.0
h11==0.14.0
fsspec==2024.3.1
nvidia-cusolver-cu11==11.4.1.48
svgwrite==1.4.3
decord==0.6.0
sniffio==1.3.1
contourpy==1.3.1
typer==0.15.2
faiss-cpu==1.11.0
nvidia-cusolver-cu12==11.4.5.107
shellingham==1.5.4
idna==3.10
frozenlist==1.7.0
referencing==0.36.2
async-timeout==5.0.1
packaging==24.2
numpy==1.26.4
av==14.3.0
gradio_client==0.8.1
joblib==1.4.2
pandas==2.2.3
aiosignal==1.4.0
setproctitle==1.3.5
Pygments==2.19.1
einops==0.6.1
charset-normalizer==3.4.1
pydub==0.25.1
yarl==1.20.1
httpcore==0.17.3
py-cpuinfo==9.0.0
docker-pycreds==0.4.0
importlib_resources==6.5.2
einops-exts==0.0.4
scikit-learn==1.2.2
orjson==3.10.16
threadpoolctl==3.6.0
websockets==11.0.3
pyarrow-hotfix==0.7
bitsandbytes==0.45.5
multidict==6.6.3
et_xmlfile==2.0.0
jaraco.context==5.3.0
inflect==7.3.1
tomli==2.0.1
importlib_metadata==8.0.0
typeguard==4.3.0
wheel==0.43.0
jaraco.collections==5.1.0
more-itertools==10.3.0
platformdirs==4.2.2
autocommand==2.2.2
jaraco.functools==4.0.1
typing_extensions==4.12.2
zipp==3.19.2
jaraco.text==3.12.1
packaging==24.2
backports.tarfile==1.2.0
